.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

.container__list {
  flex: 0 1 80%;
  margin: 30px;
}

.container__filters {
  background-color: #f6f3f3;
  flex: 0 1 20%;
}
