.pagination {
  display: inline-block;
  padding: 0;
}

.pagination__item {
  display: inline-block;
}

.pagination__btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.pagination__btn:focus {
  border: 0;
  outline: none;
}

.pagination__item--selected .pagination__btn {
  font-weight: bold;
  color: #d39e96;
}
